.App {
  margin: 10rem auto;
  padding: 10px;
  width: 300px;
  height: 340px;
  background-color: #282c34;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.roll-button {
  margin: 35px 110px;
  width: 85px;
  height: 35px;
  justify-content: center;
  border-radius: 10px;
  background-color: #a4b2d1;
  border: none;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
}
